<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Admin</a>
    <button
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target="#navbarSupportedContent"
        data-toggle="collapse"
        type="button"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Front End</a>
            </li>
        </ul>
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        title="Choose Your Language"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{./i18n}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" title="Chinese" href="/can_CN{{page.meta.path}}">Catonese</a>
                        <a class="dropdown-item" title="English" href="/en_US{{page.meta.path}}">English</a>
                        <a class="dropdown-item" title="French" href="/fr_FR{{page.meta.path}}">French</a>
                        <a class="dropdown-item" title="Chinese" href="/cmn_CN{{page.meta.path}}">Mandarin</a>
                        <a class="dropdown-item" title="Spanish" href="/es_ES{{page.meta.path}}">Spanish</a>
                        <a class="dropdown-item" title="Filipino" href="/tl_PH{{page.meta.path}}">Tagalog</a>
                        <a class="dropdown-item" title="Thai" href="/th_TH{{page.meta.path}}">Thai</a>
                        <a class="dropdown-item" title="Filipino" href="/ceb_PH{{page.meta.path}}">Visaya</a>
                    </div>
                </li>
            </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown nav-notifications">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-do="history"
                    data-on="click"
                    data-init-url="/admin/history/get/logs"
                    data-url="/admin/history/read/logs"
                >
                    <i class="fas fa-bell"></i>
                    <span class="badge badge-danger" id="histories">0</span>
                </a>
                <div class="dropdown-menu">
                    <div id="logs">
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/history/search">Show All</a>
                </div>
            </li>
            <li class="nav-item dropdown nav-profile">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <img class="rounded-circle" src="/images/default-avatar.png" width="40" />
                    Welcome {{#request 'session' 'me'}}{{user_name}}{{/request}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/auth/account?redirect_uri={{../page.meta.path}}">Account Setting</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
