<ul class="nav flex-column">
    {{#each navigation}}
        {{> menu}}
    {{/each}}
    {{#request 'session' 'me'}}
        {{#when auth_id '==' 1}}
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#system-schema-nav">
                    <i class="fas fa-code"></i>
                    <span class="nav-title">
                        <span class="nav-text">System</span>
                        <span class="nav-right">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </span>
                </a>
                <div id="system-schema-nav" class="collapse nav-sub nav-sub-1
                    {{~#nav_match '/admin/system/schema'}} show{{/nav_match~}}
                    {{~#nav_match '/admin/system/module'}} show{{/nav_match~}}
                    {{~#nav_match '/admin/system/template'}} show{{/nav_match~}}
                    {{~#nav_match '/admin/system/docs'}} show{{/nav_match~}}
                    {{~#nav_match '/admin/system/menu'}} show{{/nav_match~}}
                    {{~#nav_match '/admin/system/configuration'}} show{{/nav_match~}}
                    {{~#nav_match '/admin/system/translation'}} show{{/nav_match~}}
                ">
                    <ul class="nav flex-column ml-4">
                        <li class="nav-item{{~#nav_match '/admin/system/schema'}} active{{/nav_match~}}">
                            <a class="nav-link" href="/admin/system/schema/search">
                                <i class="fas fa-database"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Schemas</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item{{~#nav_match '/admin/system/module'}} active{{/nav_match~}}">
                            <a class="nav-link" href="/admin/system/module/search">
                                <i class="fas fa-cog"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Modules</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item{{~#nav_match '/admin/system/menu'}} active{{/nav_match~}}">
                            <a class="nav-link" href="/admin/system/menu">
                                <i class="fas fa-bars"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Menu Builder</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#system-template-nav">
                                <i class="fas fa-columns"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Templates</span>
                                    <span class="nav-right">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </span>
                            </a>
                            <div id="system-template-nav" class="collapse nav-sub nav-sub-2
                                {{~#nav_match '/admin/system/template'}} show{{/nav_match~}}
                            ">
                                <ul class="nav flex-column ml-4">
                                    <li class="nav-item{{~#nav_match '/admin/system/template/ui'}} active{{/nav_match~}}">
                                        <a class="nav-link" href="/admin/system/template/ui">
                                            <i class="fas fa-puzzle-piece"></i>
                                            <span class="nav-title">
                                                <span class="nav-text">UI</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item{{~#nav_match '/admin/system/template/search'}} active{{/nav_match~}}">
                                        <a class="nav-link" href="/admin/system/template/search">
                                            <i class="fas fa-search"></i>
                                            <span class="nav-title">
                                                <span class="nav-text">Search</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item{{~#nav_match '/admin/system/template/form'}} active{{/nav_match~}}">
                                        <a class="nav-link" href="/admin/system/template/form">
                                            <i class="fas fa-sliders-h"></i>
                                            <span class="nav-title">
                                                <span class="nav-text">Form</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item{{~#nav_match '/admin/system/configuration'}} active{{/nav_match~}}">
                            <a class="nav-link" href="/admin/system/configuration">
                                <i class="fas fa-wrench"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Configuration</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item{{~#nav_match '/admin/system/translation'}} active{{/nav_match~}}">
                            <a class="nav-link" href="/admin/system/translation/search">
                                <i class="fas fa-language"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Translations</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item{{~#nav_match '/admin/system/docs'}} active{{/nav_match~}}">
                            <a class="nav-link" href="/admin/system/docs">
                                <i class="fas fa-book"></i>
                                <span class="nav-title">
                                    <span class="nav-text">Docs</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {{/when}}
    {{/request}}
</ul>
