<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/system/schema/search">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-wrench"></i> System Configuration
        </li>
    </ol>
</nav>

<div class="main-padding">
    <h3 class="main-title">
        <i class="fas fa-wrench"></i> System Configuration
    </h3>

    <div class="alert alert-danger">
        <strong>DANGER: </strong>
        <span>Updating system configuration might cause some functionalities to fail. Please use with caution.</span>
    </div>

    <form class="config-type" method="get">
        <div class="form-group">
            <label class="control-label">Select Configuration</label>
            <div>
                <select class="form-control" name="type" data-do="config-select" data-on="change">
                    <option
                        value="none"
                        {{#when type '==' 'none'}}selected{{/when}}
                    >
                        - Select Configuration -
                    </option>
                    <option
                        value="general"
                        {{#when type '==' 'general'}}selected{{/when}}                        
                    >
                        General Settings
                    </option>
                    <option
                        value="deploy"
                        {{#when type '==' 'deploy'}}selected{{/when}}                        
                    >
                        Deployment Settings
                    </option>
                    <option
                        value="service"
                        {{#when type '==' 'service'}}selected{{/when}}                        
                    >
                        System Services
                    </option>
                    <option
                        value="test"
                        {{#when type '==' 'test'}}selected{{/when}}                        
                    >
                        Test Suite
                    </option>
                </select>
            </div>
        </div>
    </form>

    <form class="config-builder" data-do="config-builder" data-depth="3" method="post">
        <ol class="config-builder-list">
            {{#each item}}
                {{> configuration_item}}
            {{/each}}
        </ol>

        {{#if item.length}}
            <button class="btn btn-primary">Submit</button>
        {{/if}}
    </form>
</div>