<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/system/schema/search">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-bars"></i> Menu Builder
        </li>
    </ol>
</nav>

<div class="main-padding">
    <h3 class="main-title">
        <i class="fas fa-bars"></i> Menu Builder
    </h3>

    <form class="menu-builder" data-do="menu-builder" data-depth="3" method="post">
        <button type="button" class="btn btn-success menu-builder-action-add">
            <i class="fas fa-plus"></i>
            Add Menu Item
        </button>
        <ol class="menu-builder-list">
            {{#each item}}
                {{> menu_item}}
            {{/each}}
        </ol>
        <button class="btn btn-primary">Submit</button>
        <span class="help-text has-error"></span>
    </form>

</div>
<script type="text/html" id="menu-item">
    <li class="menu-builder-item" data-level="{LEVEL}">
        <div class="menu-builder-input input-group">
            <div class="input-group-prepend">
                <button class="menu-builder-handle btn btn-light" type="button">
                    <i class="fas fa-arrows-alt fa-fw"></i>
                </button>
                <button class="menu-builder-handle btn btn-default" type="button">
                    <i
                        class="fas fa-question fa-fw"
                        data-do="icon-field"
                        data-target-parent="3"
                    ></i>
                    <input
                        class="form-control"
                        data-name="icon"
                        type="hidden"
                    />
                </button>
            </div>
            <input
                class="form-control"
                data-name="label"
                placeholder="Menu Title"
                type="text"
            />
            <input
                class="form-control"
                data-name="path"
                placeholder="/some/path"
                type="text"
            />
            <select
                class="form-control"
                data-do="select-field"
                multiple="multiple"
                data-name="roles"
            >
                {{#each role_permissions}}
                    <option value="{{role_id}}">
                        {{role_name}}
                    </option>
                {{/each}}
            </select>
            <div class="input-group-append">
                {ACTION_ADD}
                <button class="btn btn-danger menu-builder-action-remove" type="button">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <ol class="menu-builder-list"></ol>
    </li>
</script>
