composer.phar
/vendor/
/node_modules/
/bin/
config/deploy.php
config/packages.php
config/services.php
config/settings.php
config/test.php
config/version.php
config/schema/*.php
config/admin/*.php
public/components
public/upload
.DS_Store
