node_modules
bin
vendor

.DS_Store

config/services.php
config/settings.php
config/roles.php
config/test.php
config/admin/*
config/rest/jwt.php

public/bower_components
public/components
public/upload
config/version.php
config/admin/menu.php
