composer.phar
/vendor/
/node_modules/
/bin/
config/deploy.php
config/packages.php
config/services.php
config/settings.php
config/test.php
config/version.php
config/fieldset/*.php
config/admin/*.php
config/packages/*.php
public/components
public/upload
log/
package-install.log
.DS_Store
