<div class="container pt-4">
    <center class="top clearfix">
        <a href="https://github.com/CradlePHP/oms">GitHub</a>
        <a href="https://packagist.org/packages/cradlephp/oms">Packagist</a>
        <a href="https://cradlepphp.github.io/docs/intro.html">Getting Started</a>
        <a href="https://cradlepphp.github.io/docs/install.html">Install</a>
        <a href="https://cradlepphp.github.io/docs/intro.html">Documentation</a>
    </center>
    <div class="masthead">
        <center class="copy">
            &copy; CradlePHP 2018-2020
        </center>
    </div>
</div>
