<div class="container pt-4">
    <center class="top clearfix">
        <a href="https://github.com/CradlePHP/Cradle">GitHub</a>
        <a href="https://packagist.org/packages/cradlephp/cradle">Packagist</a>
        <a href="https://cradlephp.github.io/">Getting Started</a>
        <a href="https://cradlephp.github.io/docs/installation.html">Install</a>
        <a href="https://cradlephp.github.io/docs/installation.html">Documentation</a>
    </center>
    <div class="masthead">
        <center class="copy">
            &copy; CradlePHP 2018-2020
        </center>
    </div>
</div>
