<div class="config-builder-input input-group">
    <div class="input-group-prepend">
        <button class="config-builder-handle btn btn-light" type="button">
            <i class="fas fa-arrows-alt fa-fw"></i>
        </button>
    </div>
    <input
        class="form-control"
        data-name="key"
        placeholder="Config Key"
        type="text"
        value="{{key}}"
    />
    <input
        class="form-control"
        data-name="value"
        placeholder="Config Value"
        type="text"
        {{#if children}}
        disabled
        {{else}}
        value="{{value}}"
        {{/if}}
    />
    <div class="input-group-append">
        <button class="btn btn-success config-builder-action-add" type="button">
            <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-danger config-builder-action-remove" type="button">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>
    